@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #121212;
    padding: 0;
    margin: 0;
}


.hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

.hidden-scrollbar:hover::-webkit-scrollbar {
    display: none;
}

.video_duration {
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 24px;
    padding: 5px 8px;
    pointer-events: none;
    right: 8px;
    text-shadow: 0 0 #fff, 0 0 2px rgba(0, 0, 0, .6), 0 0 12px rgba(0, 0, 0, .6);
}