{% extends 'partials/base.html' %}
{% block  content %}
<div class="video-section container mx-auto grid grid-cols-4 gap-4 overflow-scroll h-screen" id="video"></div>
<script>
    axios.get('/api/v1/all')
        .then(({data}) => {
            console.log(data)
            const parentContainer = document.getElementById("video");
            const videosArr = data.data;
            for (let v = 0; v < videosArr.length; v++) {
                parentContainer.innerHTML += `{% include "partials/video-card.html" %}`
            }
        })
        .catch(error => console.log(error))
</script>
{% endblock %}